:root {
  --color1:#DE9C57;
  --green1:#bfd9d2;
  --green2:#79b5a4;
  --green3:#498574;
  --wrong:red;
}

.bg-green {
  background-color: #dfeae7;
}

.ls-1 {
  letter-spacing: 0.125rem
}

.homePageImage {
  background-image: url('img/venice.jpg');
  /* filter: brightness(50%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  /* color:white; */
}